.main {
  border:1px solid black;
  height: 80vh;
  width: 80vw;
  margin: auto;
  margin-bottom: 20px;
  background-color: #AAA;
}

.info {
	margin-bottom: 20px;
}

.canvas {
  height: 80vh;
  width: 80vw;
}
